# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist/
.build/
.venv/
venv/
env/
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store

# Artifacts
models/checkpoints/*
data/artifacts/*
!data/artifacts/README.md

# VSCode
.vscode/
